@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerLight.woff2') format('woff2'),
		url('../fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0px;
}
.body{
	max-width: 1170px;
	margin: 0 auto;
    background-color: #E5E5E5;
    font-family: 'Muller';
	font-weight: 400;
    font-size: 16px;
}
:root {
	--color: #CC9933;
}
a{
	text-decoration: none;
	color: var(--color);
}
h2{
	color: #333333;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
}
button{
	border: 1px solid var(--color);
	color: var(--color);
	background-color: #FFFFFF;
}
.nav-header{
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
.nav-header-left{
	margin-left: 40px;
	margin-right: auto;
	color: #666666;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	transition: color .3s ease-in-out
}
.nav-header-left:hover{
	color: var(--color);
}
.nav-header-right{
	background: url(/img/личныйкабинет.svg) no-repeat left center transparent;
	background-position-y: -4px;
	padding-left: 30px;
	line-height: 16px;
}
.container-header{
	border: 1px;
	border-radius: 15px;
	background: #FFFFFF;
	width: 100%;
	height: 100%;
	padding-left: 45px;
	padding-right: 45px;
	margin-bottom: 45px;
}
.nav-container{
	display: flex;
}
.nav-list{
	display: flex;
	align-items: center;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-right: 1px solid #E1E1E1;
	padding-right: 56px;
}
.list:not(:last-child){
	margin-right: 45px;
}
.nav-info{
	color: #666666;
}
.nav-info:hover{
	padding-bottom: 5px;
	border-bottom: 2px solid var(--color);
}
.nav-list-right{
	display: flex;
	padding-top: 13px;
}
.list-right:not(:last-child){
	margin-right: 40px;
}
.list-right{
	margin-bottom: 10px;
	padding: 13px 20px;
	border-radius: 10px;
	transition: border, background, color, .5s ease-in-out;
}
.list-right:hover{
	border: 1px solid #666666;
	color: #666666;
	background-color: #e5e5e5;
}

/* БЛОК СПЕЦПРЕДЛОЖЕНИЙ */

.Offers{
	margin-left: 40px;
	margin-bottom: 20px;
	font-size: 40px;
	line-height: 40px;
}
.special-offer{
	display: flex;
	justify-content: space-between;
}
.block-offer{
	margin-bottom: 69px;
}

/* карточки мальдивы и остров крит */
.special-offer-1{
	width: 200%;
	max-width: 573px;
	border-radius: 15px;
	padding-left: 40px;
	padding-bottom: 40px;
	margin-bottom: 23px;
	background: linear-gradient( to right, #304059, transparent 84%), url(/img/c1maldiv.jpg) no-repeat center;
}
.special-offer-2{
	width: 200%;
	max-width: 573px;
	border-radius: 15px;
	padding-left: 40px;
	padding-bottom: 40px;
	background: linear-gradient( to right, #304059, transparent 84%), url(/img/c2krit.jpg) no-repeat center;
}
.offer-name{
	width: 100%;
	max-width: 299px;
	margin-bottom: 15px;
	padding-top: 40px;
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	color: #FFFFFF;
}
.offer-price{
	margin-bottom: 47px;
	font-size: 20px;
	line-height: 20px;
	color: #FFFFFF;
	opacity: 0.8;
}
.offer-detailed{
	line-height: 16px;
	color: #FFCC66;
	background: url(/img/стрелподроб.svg) no-repeat right center transparent;
	padding-right: 15px;
	transition: font-size .3s ease-in-out;
}
.offer-detailed:hover{
	font-size: 18px;
}

/* карточка люкс номеров */
.right-offer{
	width: 200%;
	max-width: 573px;
}
.special-offer-3{
	border-radius: 15px;
	padding-left: 40px;
	padding-bottom: 40px;
	background: linear-gradient( to top, #304059, transparent 84%), url(/img/c3lux.jpg) no-repeat center;
}
.offer-name-right{
	max-width: 299px;
	margin-bottom: 15px;
	padding-top: 211px;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
	color: #FFFFFF;
}
.offer-price-right{
	margin-bottom: 47px;
	font-size: 30px;
	line-height: 30px;
	color: #FFFFFF;
	opacity: 0.8;
}
.offer-detailed-right{
	line-height: 16px;
	color: #FFCC66;
	background: url(/img/стрелподроб.svg) no-repeat right center transparent;
	padding-right: 15px;
	transition: font-size .3s ease-in-out;
}
.offer-detailed-right:hover{
	font-size: 18px;
}

/* БЛОК О НАС */

.about-us{
	margin-left: 40px;
	margin-bottom: 11px;
	font-size: 40px;
	line-height: 40px;
}
.description{
	max-width: 888px;
	line-height: 32px;
}
.block-about-us{
	margin-bottom: 45px;
}

/* БЛОК УСЛУГИ */

.services{
	margin-left: 40px;
	margin-bottom: 20px;
	font-size: 40px;
	line-height: 40px;
}
.list-services{
	display: flex;
	flex-wrap: wrap;
}
.list-services-1{
	margin-right: 23px;
	margin-bottom: 23px;
	width: calc((100% - 23px)/2);
	height: 100%;
	background: url(/img/услуги1.jpg) no-repeat top;
	border-radius: 15px;
}
.list-services-2{
	width: calc((100% - 23px)/2);
	height: 100%;
	background: url(/img/услуги2.jpg) no-repeat top;
	border-radius: 15px;
}
.list-services-3{
	margin-right: 23px;
	margin-bottom: 23px;
	width: calc((100% - 23px)/2);
	height: 100%;
	background: url(/img/услуги3.jpg) no-repeat top;
	border-radius: 15px;
}
.list-services-4{
	width: calc((100% - 23px)/2);
	height: 100%;
	background: url(/img/услуги4.jpg) no-repeat top;
	border-radius: 15px;
}
.services-cell{
	margin-top: 165px;
	padding-top: 25px;
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 50px;
	background-color: #FFFFFF;
}
.list-services-name{
	font-size: 20px;
	line-height: 40px;
	font-weight: 500;
	background: url(/img/стрелуслуги.svg) no-repeat right center transparent;
	padding-right: 15px;
	transition: font-size .3s ease-in-out;
}
.list-services-name:hover{
	font-size: 22px;
}
.list-services-description{
	width: 100%;
	max-width: 402px;
	line-height: 32px;
}
.block-services{
	margin-bottom: 45px;
}

/* БЛОК ПРЕИМУЩЕСТВА */

.advantages{
	margin-left: 40px;
	margin-bottom: 30px;
	font-size: 40px;
	line-height: 40px;
}
.list-advantages{
	display: flex;
	flex-wrap: wrap;
}
.list-advantages-block{
	margin-bottom: 23px;
	width: calc((100% - 69px) /4);
	border-radius: 15px;
	background-color: #FFFFFF;
}
/* создал отдельный класс так как не могу для каждого 4 списка отменить правый марджин */
.list-advantages-block-notmargin:not(:nth-child(4n)){
	margin-right: 23px;
}
.advantages-description-1{
	padding-top: 106px;
	padding-left: 45px;
	padding-bottom: 41px;
	width: 100%;
	max-width: 240px;
	font-size: 16px;
	line-height: 32px;
	background: url(/img/п1.svg) no-repeat;
	background-position-y: 30px;
	background-position-x: 45px;
}
.advantages-description-2{
	padding-top: 106px;
	padding-left: 45px;
	padding-bottom: 41px;
	width: 100%;
	max-width: 240px;
	font-size: 16px;
	line-height: 32px;
	background: url(/img/п2.svg) no-repeat;
	background-position-y: 30px;
	background-position-x: 45px;
}
.advantages-description-3{
	padding-top: 106px;
	padding-left: 45px;
	padding-bottom: 41px;
	width: 100%;
	max-width: 240px;
	font-size: 16px;
	line-height: 32px;
	background: url(/img/п3.svg) no-repeat;
	background-position-y: 30px;
	background-position-x: 45px;
}
.advantages-description-4{
	padding-top: 106px;
	padding-left: 45px;
	padding-bottom: 41px;
	width: 100%;
	max-width: 240px;
	font-size: 16px;
	line-height: 32px;
	background: url(/img/п4.svg) no-repeat;
	background-position-y: 30px;
	background-position-x: 45px;
}
.advantages-description-5{
	padding-top: 106px;
	padding-left: 45px;
	padding-bottom: 41px;
	width: 100%;
	max-width: 240px;
	font-size: 16px;
	line-height: 32px;
	background: url(/img/п5.svg) no-repeat;
	background-position-y: 30px;
	background-position-x: 45px;
}
.advantages-description-6{
	padding-top: 106px;
	padding-left: 45px;
	padding-bottom: 41px;
	width: 100%;
	max-width: 240px;
	font-size: 16px;
	line-height: 32px;
	background: url(/img/п6.svg) no-repeat;
	background-position-y: 30px;
	background-position-x: 45px;
}
.advantages-description-7{
	padding-top: 106px;
	padding-left: 45px;
	padding-bottom: 41px;
	width: 100%;
	max-width: 240px;
	font-size: 16px;
	line-height: 32px;
	background: url(/img/п7.svg) no-repeat;
	background-position-y: 30px;
	background-position-x: 45px;
}
.advantages-description-8{
	padding-top: 106px;
	padding-left: 45px;
	padding-bottom: 41px;
	width: 100%;
	max-width: 240px;
	font-size: 16px;
	line-height: 32px;
	background: url(/img/п8.svg) no-repeat;
	background-position-y: 30px;
	background-position-x: 45px;
}
.block-advantages{
	margin-bottom: 22px;
}

/* БЛОК РАЗМЕЩЕНИЕ */

.placement{
	margin-left: 40px;
	margin-bottom: 30px;
	font-size: 40px;
	line-height: 40px;
}
.list-placement{
	display: flex;
	flex-wrap: wrap;
}
.list-placement-1{
	margin-right: 23px;
	margin-bottom: 23px;
	width: calc((100% - 46px)/3);
	background-color: #FFFFFF;
	border-radius: 15px;
	overflow: hidden;
}
/* создал отдельный класс чтобы убрать правый марджин */
.list-placement-right{
	margin-bottom: 23px;
	width: calc((100% - 46px)/3);
	background-color: #FFFFFF;
	border-radius: 15px;
	overflow: hidden;
}
/* создал отдельный класс чтобы убрать нижний марджин */
.list-placement-bottom{
	margin-right: 23px;
	width: calc((100% - 46px)/3);
	background-color: #FFFFFF;
	border-radius: 15px;
	overflow: hidden;
}
.list-placement-price{
	padding-left: 45px;
	padding-top: 30px;
	margin-bottom: 16px;
}
.placement-price{
	font-size: 20px;
	font-weight: 700;
}
.star{
	padding-left: 44px;
}
.list-placement-name{
	padding-right: 45px;
	padding-left: 45px;
	margin-bottom: 16px;
	line-height: 16px;
}
.list-placement-location{
	padding-right: 45px;
	padding-left: 45px;
	margin-bottom: 20px;
	line-height: 16px;
	color: #999999;
}
.list-placement-btn{
	margin-left: 45px;
	margin-right: 45px;
	margin-bottom: 34px;
	padding: 15px 20px;
	border-radius: 10px;
	transition: border, background, color, .5s ease-in-out;
}
.list-placement-btn:hover{
	border: 1px solid #666666;
	color: #666666;
	background-color: #e5e5e5;
}
.list-placement-options{
	width: 400px;
	max-width: 373px;
	height: 100%;
	max-height: 440px;
	object-fit: contain;
	display: flex;
	position: absolute;
	border-radius: 15px;
	background: linear-gradient( to top, #304059, transparent 84%), url(/img/р9.jpg) no-repeat center;
	flex-direction: column;
	justify-content: flex-end;
}
.all-options{
	padding-left: 50px;
	padding-bottom: 27px;
	font-size: 20px;
	line-height: 40px;
	font-weight: 500;
	color: #FFFFFF;
	background: url(/img/р9стрел.svg) no-repeat transparent right;
	background-position-x: 305px;
	background-position-y: 11px;
	transition: color .3s ease-in-out;
}
.all-options::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.all-options:hover{
	color: var(--color);
}
.block-placement{
	margin-bottom: 70px;
}

/* БЛОК ХОЧУ ТУР */


.block-tour{
	margin-bottom: 70px;
}
.conteiner-tour{
background: #E9E9E9;
border-radius: 15px;
padding: 38px 46px 82px 43px;
}
.tour{
	margin-left: 40px;
	margin-bottom: 20px;
	font-size: 40px;
	line-height: 40px;
}
.form-tour{
	background: #FFFFFF;
	width: 100%;
	max-width: 1080px;
	border-radius: 15px;
	padding: 32px 28px;
}
.form{
	display: flex;
}
.description-tour1{
	flex-direction: column;
	margin-right: 20px;
	font-size: 12px;
	line-height: 12px;
}
.description-tour1:hover{
	border-bottom: 2px solid var(--color);
}
.description-form1{
	margin-top: 15px;
	width: 100%;
	max-width: 169px;
	border: none;
	font-size: 16px;
	line-height: 16px;
}
.description-tour2{
	flex-direction: column;
	margin-right: 20px;
	padding-left: 20px;
	font-size: 12px;
	line-height: 12px;
	border-left: 1px solid #E1E1E1;
}
.description-tour2:hover{
	border-bottom: 2px solid var(--color);
}
.description-form2{
	margin-top: 15px;
	margin-right: 20px;
	width: 100%;
	max-width: 169px;
	border: none;
	font-size: 16px;
	line-height: 16px;
}
.description-tour3{
	flex-direction: column;
	margin-right: 20px;
	padding-left: 20px;
	font-size: 12px;
	line-height: 12px;
	border-left: 1px solid #E1E1E1;
}
.description-tour3:hover{
	border-bottom: 2px solid var(--color);
}
.description-form3{
	margin-top: 15px;
	width: 100%;
	max-width: 142px;
	border: none;
	font-size: 16px;
	line-height: 16px;
}
.description-tour4{
	flex-direction: column;
	margin-right: 20px;
	padding-left: 20px;
	font-size: 12px;
	line-height: 12px;
	border-left: 1px solid #E1E1E1;
}
.description-tour4:hover{
	border-bottom: 2px solid var(--color);
}
.description-form4{
	margin-top: 15px;
	margin-right: 20px;
	width: 100%;
	max-width: 121px;
	border: none;
	font-size: 16px;
	line-height: 16px;
}
.description-tour5{
	flex-direction: column;
	margin-right: 30px;
	padding-left: 20px;
	font-size: 12px;
	line-height: 12px;
	border-left: 1px solid #E1E1E1;
}
.description-tour5:hover{
	border-bottom: 2px solid var(--color);
}
.description-form5{
	margin-top: 15px;
	margin-right: 20px;
	width: 100%;
	max-width: 121px;
	border: none;
	font-size: 16px;
	line-height: 16px;
}
.btn-tour{
	padding: 13px 30px;
	border-radius: 10px;
	transition: border, background, color, .5s ease-in-out;
}
.btn-tour:hover{
	border: 1px solid #666666;
	color: #666666;
	background-color: #e5e5e5;
}
.btn-tour-border{
	padding-left: 20px;
	border-left: 1px solid #E1E1E1;
}

/* БЛОК КОНТАКТЫ */

.block-contacts{
	margin-bottom: 20px;
}
.contacts{
	margin-left: 40px;
	margin-bottom: 26px;
	font-size: 40px;
	line-height: 40px;
}
.common-contacts{
	padding-top: 44px;
	padding-right: 44px;
	padding-bottom: 46px;
	padding-left: 46px;
	border-radius: 15px;
	display: flex;
	background: #FFFFFF;
}
.list-contacts{
	display: flex;
	flex-direction: column;
}
.description-contacts{
	display: flex;
	width: 100%;
	max-width: 375px;
	margin-bottom: 25px;
	padding-bottom: 23px;
	border-bottom: 1px solid #C4C4C4;
}
.description-contacts1{
	display: flex;
	width: 100%;
	max-width: 375px;
	margin-bottom: 45px;
	padding-bottom: 23px;
	border-bottom: 1px solid #C4C4C4;
}
.contacts-name{
	width: 100%;
	max-width: 98px;
	margin-right: 47px;
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
}
.address{
	width: 100%;
	max-width: 229px;
	line-height: 24px;
	font-style: normal;
}
.phone-contacts{
	width: 100%;
	max-width: 214px;
	line-height: 24px;
}
.email-contacts{
	width: 100%;
	max-width: 280px;
	line-height: 24px;
}
.description-mail{
	color: #999999;
}
.schedule{
	width: 100%;
	max-width: 214px;
	line-height: 24px;
}
.btn-contacts{
	width: 100%;
	max-width: 217px;
	padding: 27px 29px 27px 29px;
	border-radius: 10px;
	line-height: 16px;
	font-weight: 700;
	transition: border, background, color, .5s ease-in-out;
}
.btn-contacts:hover{
	border: 1px solid #666666;
	color: #666666;
	background-color: #e5e5e5;
}
.picture-contacts{
	padding-left: 45px;
}

/* ФУТЕР */

.footer{
	margin-bottom: 20px;
	border-radius: 15px;
	width: 100%;
	min-width: 1168px;
	background-color: #333333;
}
.conteiner-footer{
	display: flex;
	padding: 44px 52px 55px 52px;
	background: url(/img/logofooter.png) no-repeat;
	background-position-y: 113px;
	background-position-x: 738px;
}
.footer1{
	margin-right: 102px;
	width: 30%;
	min-width: 320px;
}
.info-footer1{
	width: 50%;
	min-width: 320px;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
	margin-bottom: 32px;
}
.info-footer2{
	width: 50%;
	min-width: 320px;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;
	margin-bottom: 32px;
}
.info-footer3{
	width: 50%;
	min-width: 320px;
	font-size: 16px;
	line-height: 30px;
}
.footer2{
	margin-right: 260px;
	display: flex;
	flex-direction: column;
	width: 35%;
	min-width: 358px;
}
.address-footer{
	margin-bottom: 36px;
	line-height: 16px;
	color: #FFFFFF;
	font-style: normal;
}
.tel-footer1{
	margin-bottom: 5px;
}
.tel-footer2{
	margin-bottom: 36px;
}
.mail-footer1{
	margin-bottom: 5px;
}
.social-network{
	display: flex;
	flex-direction: column;
}
.social1{
	margin-bottom: 20px;
	width: 25px;
	height: 25px;
	display: block;
	background: url(/img/фсеть.svg) no-repeat transparent center;
}
.social2{
	margin-bottom: 20px;
	width: 25px;
	height: 25px;
	display: block;
	background: url(/img/фтвит.svg) no-repeat transparent center;
}
.social3{
	margin-bottom: 20px;
	width: 25px;
	height: 25px;
	display: block;
	background: url(/img/ффейсбук.svg) no-repeat transparent center;
}
.social4{
	margin-bottom: 20px;
	width: 25px;
	height: 25px;
	display: block;
	background: url(/img/фвк.svg) no-repeat transparent center;
}
.social5{
	width: 25px;
	height: 25px;
	display: block;
	background: url(/img/финст.svg) no-repeat transparent center;
}